.section {
    font-size: xx-large;
    line-height: 10mm;
    background-image: url(../img/marvel-character-logo.jpg);
    border: 10px;
    border-style: groove;
}

.buttom {
    margin-left: 40%;
}

.buttom1,
.buttom2 {
    margin-left: 25%;
}