.img {
    width: 80%;
    @include multimedia;
    @include borde;
}

.multi {
    width: 95%;
    @include multimedia;
    @include borde;
}

#img,
#video {
    display: flex;
    justify-content: center;
}